.result {
  width: 60%;
  margin-top: 2%;
  margin-left: 5%;
  border: 1px solid;
  border-radius: 16px;
}

h1, h3, form, .results {
  text-align: center;
}

.result-line {
  padding: 1%;
}

.summary-container {
  margin: auto;
}

.result {
  margin: auto;
  margin-bottom: 10px;
  background-color: ivory;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td, th {
  padding: 10px 0;
}