.result {
  width: 60%;
  margin-top: 2%;
  margin-left: 5%;
  border: 1px solid;
  border-radius: 16px;
}

.form-container {
  font-size: 1.5rem;
  width: 50%;
  margin-left: 37%;
  margin-right: 37%;
}

h1, h3, .results, .img-container {
  text-align: center;
}

.result-line {
  padding: 1%;
}

.summary-container {
  margin: auto;
}

.summary {
  margin-bottom: 1%;
}

.summary-table {
  width: 20%;
  border: 1px solid;
  border-radius: 16px;
  margin-top: 20px;
  background-color: ivory;
  opacity: .7;
  margin: auto;
}

.result {
  margin: auto;
  margin-bottom: 10px;
  background-color: ivory;
  opacity: .7;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
  width: 75%;
}

td, th {
  padding: 10px 0;
}

body {
  background:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)),
                url('https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/25311411_10155671626607012_8303625838189341952_o.jpg?_nc_cat=108&_nc_oc=AQlqjVVuGtMM39gtlht48N-gV9ayDg88c0_yfhdspH42_LLiIUjFkSh9lEa6tvl5-j7q4iuaAsd3x3I6-f7JwqvK&_nc_ht=scontent-atl3-1.xx&oh=a266fadcd083a10ecd86ece8e0d164df&oe=5DD96097');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  min-height: 100%;
}